/* Reset */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* whatsapp */
.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.fa-whatsapp {
  margin-top: 16px;
}

/* Menu Ativo */
.menu-top2 ul li a.menu-ativo {
  color: #ff9900;
}

/* Botão */
.btn {
  display: inline-block;
  text-align: center;
  padding: 12px 32px;
  border-radius: 5px;
  border: 2px solid #ff9900;
  outline: none;
  color: #113377;
  background: #ff9900;
  font-family: "Kanit", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.btn:hover {
  border-color: #fff;
  border: 2px solid #fff;
  background: none;
  color: #fff;
}

.btn-2 {
  display: inline-block;
  text-align: center;
  padding: 12px 32px;
  border-radius: 5px;
  border: 2px solid #113377;
  outline: none;
  color: #ff9900;
  background: #113377;
  font-family: "Kanit", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.btn-2:hover {
  border: 2px solid #113377;
  background: none;
  color: #113377;
}
/* /Fim botão */

/* Menu-top */
.menu-top {
  background: #ebeef2;
  padding: 15px 0;
}

.container {
  justify-content: space-between;
  align-items: center;
}

.nav-menu-top {
  flex: 1;
}

.logo {
  padding-left: 10px;
}

.nav-menu-top ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.nav-menu-top ul li {
  color: #54565c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875em;
  padding-left: 20px;
}

.nav-menu-top ul li a {
  display: block;
  color: #54565c;
  font-size: 2.25em;
}

/* Menu */
.menu {
  background: #113377;
  padding: 26px 0;
}

.menu ul {
  display: flex;
}

.menu ul li {
  margin-right: 26px;
}

.menu ul li a {
  display: block;
  color: #fff;
  font-family: "Teko", Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  line-height: 1.25em;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 10px;
}

.menu ul li a:hover {
  color: #ff9900;
}

/* Intro */
.intro {
  background: url("../_img/bg_intro.jpg") no-repeat center;
  background-size: cover;
  padding: 110px 0;
  color: #fff;
}

.intro h2 {
  font-family: "Kanit", Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  margin-bottom: 36px;
}

.intro p {
  font-family: "Kanit", Arial, Helvetica, sans-serif;
  font-size: 1.562em;
  line-height: 1.4em;
  margin-bottom: 36px;
}

/* Conteudo-1 */
.conteudo-1 {
  padding-top: 128px;
}

.conteudo-info h2 {
  font-family: "Kanit", Arial, Helvetica, sans-serif;
  font-size: 1.875em;
  color: #54565c;
  margin-bottom: 20px;
}

.conteudo-info h2::before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #ff9900;
  margin-bottom: 8px;
}

.conteudo-info h3 {
  font-family: "Teko", Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  color: #113377;
  margin-bottom: 16px;
}

.acordo-img {
  padding-right: 10px;
  width: 100%;
}

.conteudo-info p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #54565c;
  margin-bottom: 16px;
}
.titulo-acordo {
  display: flex;
}

/* Conteudo-2 */
.conteudo-2 {
  padding-top: 128px;
}

.conteudo-2-card {
  background: #113377;
  padding: 55px 40px;
  height: 450px;
}

.conteudo-2-card h2 {
  font-family: "Kanit", Helvetica, sans-serif;
  font-style: bold;
  font-size: 1.875em;
  color: #fff;
  margin-bottom: 16px;
}

.conteudo-2-card h2::before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #ff9900;
  margin-bottom: 8px;
}

.conteudo-2-card h3 {
  font-family: "Kanit", Helvetica, sans-serif;
  font-style: 400;
  font-size: 1.25em;
  color: #fff;
  margin-bottom: 16px;
}

.conteudo-2-card p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #fff;
  margin-bottom: 16px;
}

.conteudo-3 {
  padding-top: 128px;
}

.conteudo-3 h2 {
  font-family: "Kanit", Arial, Helvetica, sans-serif;
  font-size: 1.875em;
  text-align: center;
  color: #54565c;
  max-width: 460px;
  margin: 0 auto;
  padding-bottom: 64px;
}

.conteudo-3 h2::before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #ff9900;
  margin-bottom: 8px;
}

.cards {
  flex: 1;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: 10px;
}

.cards h3 {
  font-family: "Teko", Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  letter-spacing: 1px;
  color: #113377;
  margin: 20px 0 10px 0;
}

.cards p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.25em;
  color: #363e50;
}

/* Quote */
.quote {
  padding-top: 128px;
}

.quote h2 {
  font-family: "Kanit", Arial, Helvetica, sans-serif;
  font-size: 1.875em;
  text-align: center;
  color: #54565c;
  max-width: 465px;
  margin: 0 auto;
  padding-bottom: 64px;
}

.quote h2::before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #ff9900;
  margin-bottom: 8px;
}

.quote blockquote {
  max-width: 460px;
  margin: 0 auto;
}

.quote blockquote p {
  font-family: "Kanit", Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.25em;
  text-align: center;
  color: #3a63b5;
}

.quote blockquote cite {
  font-family: "Kanit", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-style: normal;
  line-height: 1.4em;
  text-align: right;
  color: #3a63b5;
  display: block;
  padding-top: 16px;
}

/* Footer */
.footer-dados {
  background: #04144a;
  padding: 20px 0;
  margin-top: 128px;
}

.footer-dados h3 {
  color: #b3bcc9;
  font-family: "Teko", Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  padding-bottom: 16px;
}

.footer-dados .sobre a {
  display: block;
  color: #b3bcc9;
  margin-top: 16px;
}

.footer-dados p,
.footer-dados ul li,
.footer-dados a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #3a63b5;
}

.footer-copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ebeef2;
  padding: 16px 0;
  margin: 0px auto;
  text-align: center;
}

.footer-copy p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #54565c;
  padding-left: 10px;
}

.footer-copy ul {
  display: flex;
  padding-right: 10px;
}

.footer-copy ul li a {
  display: block;
  color: #54565c;
  font-size: 2.5em;
  margin: 0;
  padding-left: 20px;
}

/* Java DataSlide */
.js [data-slide] {
  position: relative;
}

.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}

.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

/* DataAnime */
.js [data-anime] {
  opacity: 0;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}
