body{
    background-color: #dbdbdb;
}

h1, h2, h3{
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.button{
    display: inline-block;
    background-color: #303030;
    border-radius: 5px;
    color: white;
    padding: .75em 2em;
    font-size: 1em;
    width: auto;
    transition: all .5s;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}

.button:hover{
    background-color: #5a5a5a;
}
.gridItem ul li{
    text-decoration: none;
    display: inline-block;
}

.gridContainer{
    display: grid;
    width: 85%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-gap: 10px;
}

.gridItem{
    padding: 10px;
    margin: 0 auto;
}

.img{
    text-align: center;
}

.principal{
    background-color: #ffffff;
    font-family: "Arial", sans-serif;
    padding: 10px;
}

.rodape{
    background-color: #000000;
    color: #ffffff;
    font-family: "Tahoma", sans-serif;
    font-size: 12px;
    padding: 20px;
    clear: both;
}
.rodape p{
    text-align: center;
}
img, video{
    max-width: 100%;
    padding: 10px;
}

nav{
    background-color: #000000;
    height: 35px;
    font-family: "Verdana", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

nav ul{
    height: auto;
    padding: 8px 0;
    /*margin: 0px;*/ /* usei text-decoration: none; em vez de margin: 0 */
}

nav li{
    text-decoration: none; /* tira a bolinha do marcador */
    display: inline; /* deixa o menu na horizontal */
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: #ffffff;
    padding: 8px;
}

nav a:hover{
    background-color: #ffffff;
    color: #000000;
    padding-bottom: 10px;
}

/* a partir de 960px */
@media all and (min-width: 960px){
    body{
        width: 960px;
        margin: auto;
    }
}

/* quando chegar a 480px */
@media all and (max-width: 480px){
    
    h1, h2, h3{
        display: block;
        text-align: center;
    }

    nav{
        height: 100%;
        text-align: center;
    }
    nav li{
        display: block;
        padding: 10px;
        margin: 0;
    }

    .gridItem ul{
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .gridItem ul li{
        display: inline-block;
        margin: 0 auto; 
    }

    .texto-material{
        text-align: center;
    }
    .button{
        display: block;
        text-align: center;
    }
   
}
