/* Reset */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Teko", sans-serif;
}

.btn-down {
  display: block;
  background: #f2a900;
  color: #fff;
  padding: 30px;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

.btn-down:hover {
  background: #d39300;
}
.btn {
  display: inline-block;
  background: #f2a900;
  color: #000;
  width: 200px;
  padding: 15px 0;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
}

.btn:hover {
  background: #d39300;
}

/* Menu */
.header-top {
  max-width: 100%;
  background: #fff;
}

.logo-img {
  padding: 0 0 0 40px;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.nav-menu-1 {
  flex: 1;
  padding-left: 50px;
}

.nav-menu-1 ul {
  display: flex;
}

.nav-menu-1 ul li {
  margin: 0 20px 0 0;
}

.nav-menu-1 ul li a {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px;
  color: #999;
}

.nav-menu-1 ul li a:hover {
  padding-bottom: 28px;
  border-bottom: 3px solid #000;
}

/* Menu 2 */
.nav-menu-2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu-2 ul li a {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px;
  color: #999;
}

.nav-menu-2 ul li:nth-child(1) {
  padding-left: 12px;
  background: url(../_img/login.svg) no-repeat left center;
  text-decoration: none;
}

.nav-menu-2 ul li:nth-child(1)::after {
  content: "|";
  display: inline-block;
  color: #999;
  padding: 0 20px 0 20px;
}

.nav-menu-2 ul li:nth-child(2) a {
  padding-right: 30px;
}

.nav-menu-2 ul li span {
  padding-left: 25px;
  padding-right: 30px;
  background: url(../_img/language.svg) no-repeat left center;
  text-decoration: none;
}

/* Intro */
.intro {
  background: url(../_img/bg_01-1499x625.jpg) no-repeat center center;
  background-size: cover;
  /* height: 625px; */
  padding: 250px 0;
}

.intro h2 {
  color: #fff;
  font-size: 60px;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 5px;
}
/* Fim intro */

/* Cards */
.cards {
  background: url(../_img/bg-marcadagua.jpg) no-repeat center center;
  background-size: cover;
  padding: 75px 0;
}

.cards h2 {
  margin: 0 auto;
  color: #000;
  font-size: 60px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 45px;
}

.card-info {
  max-width: 340px;
  background: #fff;
  padding: 65px 20px 60px 20px;
}

.card h3 {
  font-size: 32px;
  line-height: 32px;
  font-weight: normal;
  padding-bottom: 16px;
}

.card p {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #707070;
}

/* Canal oficial */
.canal-oficial {
  background: url(../_img/bg-quote-1499x250.jpg) no-repeat center center;
  background-size: cover;
  padding: 80px 0;
}

.canal-oficial h3 {
  color: #fff;
  font-size: 32px;
  line-height: 32px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 25px;
}

.canal-oficial .redes-sociais {
  display: flex;
  margin: 0 auto;
  text-align: center;
}

.canal-oficial .redes-sociais li {
  padding: 0 10px 0 10px;
}
