body {
  background: #ccc;
}

@media screen and (max-width: 48em) {
  /* 768px */
  body {
    background: tomato;
  }
}
@media screen and (max-width: 37.5em) {
  /* 600px */
  body {
    background: yellow;
  }
}
@media screen and (max-width: 20em) {
  /* 320px */
  body {
    background: yellowgreen;
  }
}
