/* Produtos */
.intro-produtos {
  background: url("../_img/bg_produto.jpg") no-repeat center;
  background-size: cover;
  padding: 70px 0;
}

.titulo-produtos {
  width: 100%;
}

.titulo-produtos h2 {
  color: #fff;
  text-align: center;
  font-family: "Kanit", Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bolder;
  letter-spacing: 5px;
  text-transform: uppercase;
  letter-spacing: 2;
  line-height: 40px;
}

.titulo-produtos p {
  color: #fff;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-size: 22px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-top: 16px;
}
/*========================================*/
/* produtos */
.produtos {
  margin-top: 128px;
}

.produtos h2 {
  max-width: 400px;
  text-align: left;
  margin: 0 auto;
  font-family: "Kanit", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  color: #54565c;
  margin-bottom: 64px;
}

/* Separador */
.produtos h2::before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #ff9900;
}

.cards-produtos {
  background: #fff;
  height: 345px;
  padding: 20px;
  margin-bottom: 32px;
  text-align: center;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
}

.cards-produtos img {
  width: 100%;
}

.cards-produtos h3 {
  font-family: "Teko", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #113377;
  padding-top: 16px;
}

.cards-produtos p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #54565c;
  padding-top: 8px;
}

/* Efeito zoom */
.hoverzoom {
  position: relative;
  /* width: 300px;
  height: 200px; */
  overflow: hidden;
}
.hoverzoom img {
  width: 100%;
  border-radius: 2px;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.hoverzoom:hover img {
  transform: scale(1.1);
}
