/* Tabelet - PC - 768px
==========================================*/
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .btn,
  .btn-2 {
    width: 50%;
    display: block;
    clear: both;
  }

  nav.menu-top ul {
    display: none;
  }

  .logo {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }

  .logo h1 {
    float: none;
    text-align: center;
  }

  nav.menu-top2 {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }

  nav.menu-top2 ul {
    float: none;
    text-align: center;
  }

  nav.menu-top2 ul li:nth-child(4) {
    margin-right: 0;
  }

  section.intro {
    padding: 80px 20px;
  }

  .texto-intro {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .texto-intro p {
    font-size: 30px;
    line-height: 35px;
  }

  .conteudo-1 {
    padding: 0 20px;
  }

  .conteudo-1-img {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .conteudo-1-texto {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }

  .conteudo-1-texto h2 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .conteudo-1-texto p {
    font-size: 18px;
    line-height: 25px;
  }

  .conteudo-2-1 {
    width: 100%;
    height: auto;
    padding: 50px 40px;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .conteudo-2-1 p {
    font-size: 18px;
    line-height: 25px;
  }

  .conteudo-2-2 {
    width: 100%;
    display: block;
    text-align: center;
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 60px;
  }

  .conteudo-3 {
    padding: 0 20px;
  }

  .conteudo-3-1 {
    width: 100%;
    text-align: center;
    margin: 32px auto 0 auto;
  }

  .conteudo-3-1 p {
    text-align: left;
    font-size: 18px;
    line-height: 25px;
  }

  .sobre {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .rodape {
    padding: 25px 20px 25px 20px;
  }

  .rodape .sobre p {
    padding-right: 0;
  }

  .copy-texto {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .copy p {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .social-footer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .copy .social-footer ul {
    float: none;
  }

  .copy .social-footer ul li:nth-child(1) {
    padding-left: 0;
  }

  /* Página sobre */
  .titulo-sobre {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .titulo-sobre h2 {
    font-size: 60px;
  }

  .titulo-sobre p {
    font-size: 22px;
  }

  .conteudo-sobre {
    margin-top: 64px;
  }

  .conteudo-sobre p {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 25px;
  }

  .conteudo-sobre h2 {
    font-size: 30px;
  }

  .sub-sobre {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0px;
    text-align: left;
    padding: 0 20px;
  }

  .conteudo1-sobre {
    float: none;
    margin-bottom: 0;
  }

  .texto1-conteudo-sobre {
    width: 100%;
    padding: 0 20px;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .logo-qualidade,
  .logo-prototipo {
    text-align: center;
  }

  .img-qualidade,
  .img-prototipo {
    text-align: center;
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .conteudo2-sobre {
    display: flex;
    flex-direction: column;
  }

  .texto1-conteudo-sobre {
    order: -1;
  }

  .rodape {
    margin-top: 64px;
  }

  .rodape .sobre a {
    display: block;
    padding-top: 0;
    padding-bottom: 16px;
  }

  .rodape .dados {
    margin-left: 0;
  }
  /* /Fim página sobre */

  /* página produtos */

  .titulo-produtos {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .titulo-produtos h2 {
    font-size: 60px;
  }

  .produtos {
    padding: 0 20px;
  }

  .cards-produtos {
    width: 47.1%;
  }

  /* inicio página contato */
  .intro-contato {
    padding: 70px 0;
  }

  .titulo-contato {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .titulo-contato h2 {
    font-size: 60px;
  }

  .titulo-contato p {
    font-size: 22px;
  }

  .formulario {
    padding: 64px 20px;
  }

  .formulario-form {
    width: 75%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
  }

  .formulario-dados {
    width: 75%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    margin: 0 auto;
  }

  .formulario-dados h3 {
    margin: 30px 0 8px 0;
  }

  .rodape {
    margin-top: 64px;
  }
}
/*  /Fim tabelet - PC - 768px
==========================================*/

/* Início smartphone-tabelet 600px
==========================================*/
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  nav.menu-top ul {
    display: none;
  }

  .logo {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }

  .logo h1 {
    float: none;
    text-align: center;
  }

  nav.menu-top2 {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }

  nav.menu-top2 ul {
    float: none;
    text-align: center;
  }

  nav.menu-top2 ul li:nth-child(4) {
    margin-right: 0;
  }

  section.intro {
    background: url("../_img/bg_intro_mobile.jpg") no-repeat center;
    padding: 60px 0;
  }

  .texto-intro {
    width: 100%;
    padding: 0 20px;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .conteudo-1 {
    padding: 0 20px;
  }

  .conteudo-1-img {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .conteudo-1-texto {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }

  .conteudo-1-texto p {
    font-size: 18px;
    line-height: 25px;
  }

  .conteudo-2-1 {
    width: 100%;
    height: auto;
    padding: 50px 40px;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .conteudo-2-1 p {
    font-size: 18px;
    line-height: 25px;
  }

  .conteudo-2-2 {
    width: 100%;
    display: block;
    text-align: center;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .conteudo-3 {
    padding: 0 20px;
  }

  .conteudo-3-1 {
    width: 100%;
    text-align: center;
    margin: 32px auto 0 auto;
  }

  .conteudo-3-1 p {
    text-align: left;
    font-size: 18px;
    line-height: 25px;
  }

  .sobre {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .rodape {
    padding: 25px 20px 25px 20px;
  }

  .rodape .sobre p {
    padding-right: 0;
  }

  .copy-texto {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .copy p {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .social-footer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .copy .social-footer ul {
    float: none;
  }

  .copy .social-footer ul li:nth-child(1) {
    padding-left: 0;
  }

  /* Página sobre */
  .intro-sobre {
    background: url("../_img/bg_sobre_mobile.jpg") no-repeat center;
    padding: 40px 20px;
  }

  .titulo-sobre {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .titulo-sobre h2 {
    font-size: 40px;
  }

  .titulo-sobre p {
    font-size: 22px;
  }

  .conteudo-sobre {
    margin-top: 64px;
  }

  .conteudo-sobre p {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 25px;
  }

  .conteudo-sobre h2 {
    font-size: 30px;
  }

  .sub-sobre {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0px;
    text-align: left;
    padding: 0 20px;
  }

  .conteudo1-sobre {
    float: none;
    margin-bottom: 0;
  }

  .texto1-conteudo-sobre {
    width: 100%;
    padding: 0 20px;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .logo-qualidade,
  .logo-prototipo {
    text-align: center;
  }

  .img-qualidade,
  .img-prototipo {
    text-align: center;
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .conteudo2-sobre {
    display: flex;
    flex-direction: column;
  }

  .texto1-conteudo-sobre {
    order: -1;
  }

  .rodape {
    margin-top: 64px;
    /* /Fim página sobre */
  }

  .rodape .sobre a {
    display: block;
    padding-top: 0;
    padding-bottom: 16px;
  }

  .rodape .dados {
    margin-left: 0;
  }

  /* página produtos */
  .intro-produtos {
    background: url("../_img/bg_produto_mobile.jpg") no-repeat center;
    padding: 40px 20px;
  }

  .titulo-produtos {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .titulo-produtos h2 {
    font-size: 40px;
  }

  .titulo-produtos p {
    font-size: 22px;
    line-height: 20px;
  }

  .produtos {
    margin-top: 64px;
    padding: 0 20px;
  }

  .produtos h2 {
    text-align: left;
    font-size: 24px;
    line-height: 30px;
  }

  .cards-produtos {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .cards-produtos img {
    width: auto;
  }

  .cards-produtos p {
    font-size: 18px;
    line-height: 25px;
  }
  /* fim página produtos*/

  /* inicio página contato */
  .intro-contato {
    background: url("../_img/bg_contato_mobile.jpg") no-repeat center;
    padding: 40px 20px;
  }

  .titulo-contato {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .titulo-contato h2 {
    font-size: 40px;
  }

  .titulo-contato p {
    font-size: 22px;
  }

  .formulario {
    padding: 64px 20px;
  }

  .formulario-form {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .formulario-dados {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .btn,
  .btn-2 {
    width: 100%;
  }

  .formulario-dados h3 {
    margin: 30px 0 8px 0;
  }

  .rodape {
    margin-top: 64px;
  }
}
/*  /Fim smartphone-tabelet 600px
==========================================*/

/* Smartphone 414px
==========================================*/
@media screen and (max-width: 414px) {
  img {
    max-width: 100%;
  }
  .container {
    width: 100%;
  }

  .menu-top {
    display: none;
  }

  .logo {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }

  .logo h1 {
    float: none;
    text-align: center;
  }

  .header-2 {
    display: block;
  }

  /* Intro */
  section.intro {
    background: url("../_img/bg_intro_mobile.jpg") no-repeat center;
    padding: 90px 0;
  }

  nav.menu-top2 {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }

  nav.menu-top2 ul {
    float: none;
  }

  nav.menu-top2 ul li {
    display: block;
    text-align: center;
    margin-right: 0px;
  }

  nav.menu-top2 ul li a {
    color: #fff;
    line-height: 40px;
    padding: 0;
  }

  .texto-intro {
    width: 100%;
    padding: 0 20px;
  }

  .texto-intro h2 {
    font-size: 30px;
    padding-bottom: 30px;
  }

  .texto-intro p {
    font-size: 20px;
    line-height: 30px;
  }

  .btn,
  .btn-2 {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .conteudo-1-texto {
    width: 100%;
    padding: 0;
  }

  .conteudo-1-texto img {
    display: block;
    margin: 0 auto;
    float: none;
    padding-right: 0;
  }

  .conteudo-1-texto h2 {
    margin-top: 30px;
    font-size: 30px;
    line-height: 33px;
  }

  .conteudo-1-texto p {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 24px;
  }

  .conteudo-1-texto .btn {
    text-align: center;
    display: block;
  }

  .conteudo-2-1 {
    height: none;
  }

  .conteudo-2-1 h2 {
    margin-bottom: 32px;
    padding-top: 0;
  }

  .conteudo-2-1 p {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 24px;
  }

  .conteudo-2-2 {
    margin-top: 64px;
  }

  .conteudo-3 {
    padding: 0 20px;
  }

  .conteudo-3 h2 {
    text-align: left;
    font-size: 30px;
    line-height: 33px;
  }

  .conteudo-3-1 {
    width: 100%;
    text-align: center;
    margin: 32px auto 0 auto;
  }

  .conteudo-3-1 p {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
  }

  /* Quote */
  .quote {
    padding: 64px 20px 0 20px;
  }

  .quote h2 {
    text-align: left;
    padding-top: 0;
    font-size: 30px;
    line-height: 33px;
  }

  /* Rodapé */
  .rodape {
    margin-top: 30px;
  }

  .rodape h3 {
    padding: 15px 0;
  }

  .rodape p {
    padding-bottom: 0;
  }

  .rodape .sobre p {
    padding-right: 0;
  }

  .rodape .sobre a {
    display: block;
    padding-top: 8px;
  }

  .rodape .dados,
  .rodape .endereco {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .copy {
    padding: 20px 0 20px 0;
  }

  .copy p {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .copy .social-footer ul {
    float: none;
    text-align: center;
  }

  .copy .social-footer ul li:nth-child(1) {
    padding-left: 0;
  }

  /* Página sobre */
  .intro-sobre {
    background: url("../_img/bg_sobre_mobile.jpg") no-repeat center;
    padding: 40px 20px;
  }

  .titulo-sobre {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .titulo-sobre h2 {
    font-size: 40px;
  }

  .titulo-sobre p {
    font-size: 22px;
  }

  .conteudo-sobre {
    margin-top: 64px;
  }

  .conteudo-sobre p {
    margin-bottom: 40px;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
  }

  .conteudo-sobre h2 {
    font-size: 24px;
    max-width: none;
  }

  .sub-sobre {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0px;
    text-align: left;
    padding: 0 20px;
  }

  .conteudo1-sobre {
    float: none;
    margin-bottom: 0;
  }

  .texto1-conteudo-sobre {
    width: 100%;
    padding: 0 20px;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .logo-qualidade,
  .logo-prototipo {
    text-align: center;
  }

  .img-qualidade,
  .img-prototipo {
    text-align: center;
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .conteudo2-sobre {
    display: flex;
    flex-direction: column;
  }

  .texto1-conteudo-sobre {
    order: -1;
  }
  /* /Fim página sobre */

  /* página produtos */
  .intro-produtos {
    background: url("../_img/bg_produto_mobile.jpg") no-repeat center;
    padding: 40px 20px;
  }

  .titulo-produtos {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .titulo-produtos h2 {
    font-size: 40px;
  }

  .titulo-produtos p {
    font-size: 22px;
  }

  .produtos {
    margin-top: 64px;
    padding: 0 20px;
  }

  .produtos h2 {
    text-align: left;
    font-size: 24px;
    line-height: 30px;
  }

  .cards-produtos {
    width: 100%;
    height: auto;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .cards-produtos p {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
  }
  /* fim página produtos*/

  /* inicio página contato */
  .intro-contato {
    background: url("../_img/bg_contato_mobile.jpg") no-repeat center;
    padding: 40px 20px;
  }

  .titulo-contato {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .titulo-contato h2 {
    font-size: 40px;
  }

  .titulo-contato p {
    font-size: 22px;
    line-height: 25px;
  }

  .formulario {
    padding: 64px 20px;
  }

  .formulario-form {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .formulario-dados {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .btn,
  .btn-2 {
    width: 100%;
  }

  .formulario-dados h3 {
    margin: 30px 0 8px 0;
  }

  .rodape {
    margin-top: 64px;
  }
}
/* /Fim smartphone 414px
==========================================*/

/*Smartphone 375px
==========================================*/
@media screen and (max-width: 375px) {
  img {
    max-width: 100%;
  }
  .container {
    width: 100%;
  }

  .menu-top {
    display: none;
  }

  .logo {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }

  .logo h1 {
    float: none;
    text-align: center;
  }

  .header-2 {
    display: block;
  }

  /* Intro */
  section.intro {
    background: url("../_img/bg_intro_mobile.jpg") no-repeat center;
    padding: 40px 0;
  }

  nav.menu-top2 {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }

  nav.menu-top2 ul {
    float: none;
  }

  nav.menu-top2 ul li {
    display: block;
    text-align: center;
    margin-right: 0px;
  }

  nav.menu-top2 ul li a {
    color: #fff;
    line-height: 40px;
    padding: 0;
  }

  .texto-intro {
    width: 100%;
    padding: 0 20px;
  }

  .texto-intro h2 {
    font-size: 30px;
    padding-top: 0;
  }

  .texto-intro p {
    font-size: 20px;
    line-height: 25px;
  }

  .btn,
  .btn-2 {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .conteudo-1 {
    padding: 0;
    margin-top: 64px;
  }

  .conteudo-1-texto {
    width: 100%;
    float: none;
    padding: 0 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .conteudo-1-texto img {
    display: block;
    margin: 0 auto;
    float: none;
    padding-right: 0;
  }

  .conteudo-1-texto h2 {
    margin-top: 30px;
    font-size: 30px;
    line-height: 33px;
  }

  .conteudo-1-texto p {
    font-size: 18px;
    line-height: 25px;
  }

  .conteudo-2 {
    margin-top: 64px;
  }

  .conteudo-2-1 {
    height: none;
  }

  .conteudo-2-1 h2 {
    margin-bottom: 30px;
    padding-top: 30px;
  }

  .conteudo-2-2 {
    margin-top: 64px;
  }

  .conteudo-3 {
    padding: 0 20px;
    margin-top: 64px;
  }

  .conteudo-3 h2 {
    text-align: left;
    font-size: 30px;
    line-height: 33px;
  }

  .conteudo-3-1 {
    width: 100%;
    text-align: center;
    margin: 16px auto 0 auto;
  }

  .conteudo-3-1 p {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  /* Quote */
  .quote {
    padding: 64px 20px 0 20px;
  }

  .quote h2 {
    text-align: left;
    padding-top: 0;
    font-size: 30px;
    line-height: 33px;
  }

  /* Rodapé */
  .rodape {
    margin-top: 30px;
  }

  .rodape h3 {
    padding: 15px 0;
  }

  .rodape p {
    padding-bottom: 0;
  }

  .sobre {
    padding: 0;
  }

  .rodape .sobre p {
    padding-right: 0;
  }

  .rodape .sobre a {
    display: block;
    margin-top: 8px;
  }

  .rodape .dados {
    padding: 0;
  }

  .rodape .endereco {
    padding: 0;
  }

  .copy {
    padding: 20px 0 20px 0;
  }

  .copy p {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .copy .social-footer ul {
    float: none;
    text-align: center;
  }

  .copy .social-footer ul li:nth-child(1) {
    padding-left: 0;
  }

  /* Página sobre */
  .intro-sobre {
    background: url("../_img/bg_sobre_mobile.jpg") no-repeat center;
    padding: 40px 20px;
  }

  .titulo-sobre {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .titulo-sobre h2 {
    font-size: 40px;
  }

  .titulo-sobre p {
    font-size: 22px;
  }

  .conteudo-sobre {
    margin-top: 64px;
  }

  .conteudo-sobre p {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 25px;
  }

  .sub-sobre {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0px;
    text-align: left;
    padding: 0 20px;
  }

  .conteudo-sobre h2 {
    font-size: 30px;
  }

  .conteudo1-sobre {
    float: none;
    margin-bottom: 0;
  }

  .texto1-conteudo-sobre {
    width: 100%;
    padding: 0 20px;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .img-qualidade,
  .img-prototipo {
    text-align: center;
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .conteudo2-sobre {
    display: flex;
    flex-direction: column;
  }

  .texto1-conteudo-sobre {
    order: -1;
  }
  /* /Fim página sobre */

  /* página produtos */
  .intro-produtos {
    background: url("../_img/bg_produto_mobile.jpg") no-repeat center;
    padding: 40px 20px;
  }

  .titulo-produtos {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .titulo-produtos h2 {
    font-size: 40px;
  }

  .titulo-produtos p {
    font-size: 22px;
    line-height: 20px;
  }

  .produtos {
    margin-top: 64px;
    padding: 0 20px;
  }

  .produtos h2 {
    text-align: left;
    font-size: 30px;
    line-height: 33px;
  }

  .cards-produtos {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .cards-produtos p {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  /* fim página produtos*/

  /* inicio página contato */
  .intro-contato {
    background: url("../_img/bg_contato_mobile.jpg") no-repeat center;
    padding: 40px 20px;
  }

  .titulo-contato {
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .titulo-contato h2 {
    font-size: 40px;
  }

  .titulo-contato p {
    font-size: 22px;
    line-height: 25px;
  }

  .formulario {
    padding: 64px 20px;
  }

  .formulario-form {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }

  .formulario-dados {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .btn,
  .btn-2 {
    width: 100%;
  }

  .formulario-dados h3 {
    margin: 30px 0 8px 0;
  }

  .rodape {
    margin-top: 64px;
  }
}
/* Fim smartphone 375px
==========================================*/
