/* Sobre */
.intro-sobre {
  background: url("../_img/bg_sobre.jpg") no-repeat center;
  background-size: cover;
  padding: 70px 0;
}

.titulo-sobre {
  width: 100%;
}

.titulo-sobre h2 {
  color: #fff;
  text-align: center;
  font-family: "Kanit", Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bolder;
  letter-spacing: 5px;
  text-transform: uppercase;
  letter-spacing: 2;
  line-height: 40px;
}

.titulo-sobre p {
  color: #fff;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-size: 22px;
  line-height: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-top: 16px;
}

.conteudo-sobre {
  margin-top: 128px;
}

.conteudo-sobre h2 {
  max-width: 335px;
  margin: 0 auto;
  font-family: "Kanit", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  color: #54565c;
  padding-bottom: 64px;
}

/* Separador */
.conteudo-sobre h2::before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #ff9900;
}

.conteudo-sobre h3 {
  font-family: "Teko", Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #113377;
  padding-bottom: 8px;
}

.conteudo-sobre p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #54565c;
}

.conteudo1-sobre {
  float: left;
  margin-bottom: 64px;
}

.logo-qualidade {
  text-align: right;
}

.logo-prototipo {
  text-align: left;
}
