body {
    background-color: #ccc;
}
ul#menu-navegacao {
    margin: 0;
    padding: 0;
    list-style: none; 
    float: left;
}
ul#menu-navegacao li { 
    float: left;
    margin-left: 15px;
}

ul#menu-navegacao li a {
    display: block;
    background-color: burlywood;
    color: black;
    text-decoration: none;
    padding: 5px 15px;
}

ul#menu-navegacao li a:hover {
    background-color: chocolate;
    color: white;
}

#home #menu-navegacao .index a,
#sobre #menu-navegacao .sobre a,
#servicos #menu-navegacao .servicos a,
#noticias #menu-navegacao .noticias a,
#contato #menu-navegacao .contato a {
    background-color: chocolate;
    color: white;
}