body{
    background-color: #dbdbdb;
}

h1, h2, h3{
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

section{
    background-color: #ffffff;
    font-family: "Arial", sans-serif;
    padding: 10px;
}

footer{
    background-color: #000000;
    color: #ffffff;
    font-family: "Tahoma", sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 20px;
}

img, video{
    max-width: 100%;
}

nav{
    background-color: #000000;
    height: 35px;
    font-family: "Verdana", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

nav ul{
    height: auto;
    padding: 8px 0;
    /*margin: 0px;*/ /* usei text-decoration: none; em vez de margin: 0 */
}

nav li{
    text-decoration: none; /* tira a bolinha do marcador */
    display: inline; /* deixa o menu na horizontal */
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: #ffffff;
    padding: 8px 8px 8px 8px;
}

nav a:hover{
    background-color: #ffffff;
    color: #000000;
    padding-bottom: 10px;
}

/* a partir de 960px */
@media all and (min-width: 960px){
    body{
        width: 960px;
        margin: auto;
    }
}

/* quando chegar a 480px */
@media all and (max-width: 480px){
    nav{
        height: 100%;
    }
    nav li{
        display: block;
        padding: 10px;
        margin: 0;
    }
}
