/* Configuração padrão
---------------------------------*/

html, body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #777;
    height: 100%;
}

.conteudo {
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    color: #111;
}

p {
    margin-bottom: 20px;
}

/* Efeitos parallax 
---------------------------------*/

.caixa-1, .caixa-2, .caixa-3, .caixa-4, .caixa-5, .caixa-6 {
    position: relative;
    /*<---*/
    height: 100%;
    /* opacity: .7; */
    background-repeat: no-repeat;
    /*<---*/
    background-size: cover;
    /*<---*/
    background-position: center;
    /*<---*/
    background-attachment: fixed;
    /*<--- Efeito Parallax*/
}

.caixa-1 {
    background-image: url(../_img/imagem1.jpg);
}

.caixa-2 {
    background-image: url(../_img/imagem2.jpg);
}

.caixa-3 {
    background-image: url(../_img/imagem3.jpg);
}

.caixa-4 {
    background-image: url(../_img/imagem4.jpg);
}

.caixa-5 {
    background-image: url(../_img/imagem5.jpg);
}

.caixa-6 {
    background-image: url(../_img/imagem6.jpg);
}

.conteudo-titulo {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.conteudo-titulo span.titulo {
    color: #fff;
    /* background-color: #111; */
    background-color: rgba(0, 0, 0, .6);
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
}