/* Reset */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #252525;
  background: #e7e4d8;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* Header */
.header {
  background: #d6d3c8;
  padding: 20px;
}

.header::after,
.header::before {
  content: "";
  display: table;
  clear: both;
}

.header-logo {
  float: left;
}

.header-menu ul {
  float: right;
}

.header-menu ul li {
  display: inline-block;
}

.header-menu ul li a {
  font-size: 1.125em;
  color: #252525;
  padding: 0 10px;
}

.header-menu ul li:first-child a {
  padding-left: 0;
}

.header-menu ul li:last-child a {
  padding-right: 0;
}

@media (max-width: 739px) {
  .header-logo {
    float: none;
  }
  .header-menu ul {
    float: none;
    margin-top: 10px;
  }
}

/* Main */
.main-container {
  display: flex;
}

@media (max-width: 739px) {
  .main-container {
    flex-direction: column;
  }
}

/* Side-Nav */
.side-nav {
  width: 300px;
  background: #252525;
}

.side-nav li a {
  display: block;
  color: #fff;
  border-bottom: 2px solid #484846;
  font-size: 1.125em;
  padding: 20px;
}

.side-nav li a::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 5px;
  margin-right: 15px;
  background-image: url("../_img/icones.png");
}

.nav-contabilidade::before {
  background-position: 0 0;
}

.nav-produtos::before {
  background-position: 0 -24px;
}

.nav-paginas::before {
  background-position: 0 calc(-24px * 2);
}

.nav-plugins::before {
  background-position: 0 calc(-24px * 3);
}

.nav-formularios::before {
  background-position: 0 calc(-24px * 4);
}

.nav-hospedagem::before {
  background-position: 0 calc(-24px * 5);
}

@media (min-width: 740px) and (max-width: 980px) {
  .side-nav {
    width: 200px;
  }
}
@media (max-width: 739px) {
  .side-nav {
    margin: 20px 0 0 20px;
    background: none;
    width: auto;
  }
  .side-nav ul li {
    display: inline-block;
  }
  .side-nav ul li a::before {
    display: block;
    margin: 0;
    top: 0;
  }
  .side-nav ul li a {
    width: 44px;
    height: 44px;
    overflow: hidden;
    padding: 10px;
    border: none;
    color: #252525;
    background: #252525;
    border-radius: 4px;
  }
}

/* Produtos */
.produtos {
  width: calc(100% - 300px);
  max-width: 960px;
  padding: 20px;
}

.produtos header::after,
.produtos header::before {
  content: "";
  display: table;
  clear: both;
}

.produtos h1 {
  font-size: 2.25em;
  float: left;
}

.add-produtos {
  background: #c17139;
  color: #fff;
  font-size: 1.125em;
  font-family: Courier, monospace;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  padding: 15px 20px;
  float: right;
}

.produtos-item {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  margin-top: 20px;
  position: relative;
}

.produtos-item::after,
.produtos-item::before {
  content: "";
  display: table;
  clear: both;
}

.produtos-item img {
  float: left;
}

.produtos-item a {
  width: 24px;
  height: 24px;
  overflow: hidden;
  text-indent: -200px;
  position: absolute;
  background: url("../_img/edit.svg") no-repeat;
  top: 10px;
  right: 20px;
}

.produtos-item a:hover {
  background: url("../_img/edit-hover.svg") no-repeat;
}

.produtos-item ul {
  float: left;
  padding: 0 20px;
  width: calc(100% - 140px);
}
.produtos-item ul li {
  padding: 10px 0;
  font-family: Courier, monospace;
  font-size: 1.125em;
  border-bottom: 1px solid #e7e4d8;
}

.produtos-item ul li:last-child {
  border-bottom: none;
}

.produtos-item span {
  display: inline-block;
  font-weight: bold;
  width: 120px;
}

@media (min-width: 740px) and (max-width: 980px) {
  .produtos {
    width: calc(100% - 200px);
  }
}
@media (max-width: 739px) {
  .produtos {
    width: 100%;
  }
  .produtos h1 {
    float: none;
  }
  .add-produtos {
    float: none;
    display: inline-block;
    margin: 10px 0;
  }
  .produtos-item img {
    float: none;
  }
  .produtos-item ul {
    float: none;
    width: 100%;
  }
}

/* Footer */
.footer {
  background: #d6d3c8;
  padding: 30px 0;
  font-family: Courier, monospace;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
}
