.interna_sobre {
  background: url(../_img/bg-sobre.jpg) no-repeat center;
  background-size: cover;
}

.missao_sobre {
  padding-top: 60px;
}

.subtitulo_interno {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitulo_interno::after {
  content: "";
  display: block;
  margin: 8px 0;
  width: 60px;
  height: 3px;
  background: #000;
}

.missao_sobre p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1em;
  padding-right: 60px;
}

.missao_sobre ul li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 30px;
}

.foto_equipe {
  padding-top: 20px;
}