/* Estilo geral */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  border: 3px solid #fec63e;
  color: #fec63e;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 10px 30px;
}

.btn:hover {
  color: #fff;
  border-color: #fff;
}

.btn.btn-preto:hover {
  color: #000;
  border-color: #000;
}

.subtitulo {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitulo::after {
  content: "";
  display: block;
  margin: 8px auto;
  width: 60px;
  height: 3px;
  background: #000;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 15px 0;
  background: #fec63e;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header_menu ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  color: #fff;
}

/* Menu ativo */

.header_menu ul li a.menu-ativo {
  /* color: #fff; */
  border-bottom: 8px solid #000;
  padding-bottom: 8px;
}

/* Introdução */

.introducao {
  margin-top: 92px;
  width: 100%;
  height: 380px;
  background: url(../_img/bg.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 80px;
}

.introducao h1 {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #fff;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo p::before,
.quote-externo p::after {
  content: "";
  display: block;
  margin: 14px auto 10px auto;
  width: 60px;
  height: 3px;
  background: #fff;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* introdução-interna */

.introducao_interna {
  width: 100%;
  height: 160px;
  margin-top: 92px;
  padding-top: 30px;
  color: #fff;
  text-align: center;
}

.introducao_interna h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.introducao_interna h1::after {
  content: "";
  display: block;
  margin: 8px auto;
  width: 60px;
  height: 3px;
  background: #fff;
}

.introducao_interna p {
  color: #fff;
}

/* Produtos */

.produtos {
  padding: 60px 0;
}

.produtos_lista li {
  background: #fec63e;
  text-align: center;
}

.produtos_lista li h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.produtos_lista li h3::after {
  content: "";
  display: block;
  margin: 2px auto;
  width: 60px;
  height: 3px;
  background: #000;
}

.produtos_lista li p {
  padding: 10px 20px 20px 20px;
}

.produtos_icone {
  background: #000;
  padding: 20px;
}

/* Ajuste que fiz  para centralizar os icones */

.produtos_icone img {
  margin: 0 auto;
}

.call-to-action {
  padding-top: 40px;
  text-align: center;
  clear: both;
}

.call-to-action p {
  margin-bottom: 30px;
}

/* Portfólio */

.portfolio {
  width: 100%;
  background: #000;
  padding: 40px 0;
}

.portfolio .subtitulo {
  color: #fec63e;
}

.portfolio .subtitulo::after {
  background: #fec63e;
}

.portfolio .call-to-action p {
  color: #fff;
}

.portfolio_lista li:last-child {
  margin-top: 20px;
}

/* Qualidade */

.qualidade {
  padding: 60px 0;
}

.qualidade::after {
  content: "";
  width: 634px;
  height: 83px;
  display: block;
  background: url(../_img/linhas.svg) no-repeat center;
  position: absolute;
  top: 209px;
  right: 162px;
  z-index: -1;
}

.qualidade img {
  margin: 0 auto;
}

.qualidade_lista {
  margin-top: 20px;
  overflow: auto;
}

.qualidade_lista li {
  text-align: center;
  padding: 0 40px;
}

.qualidade_lista li h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.qualidade_lista li h3::after {
  content: "";
  display: block;
  margin: 6px auto;
  width: 60px;
  height: 3px;
  background: #000;
}

/* Quebra */

.quebra {
  width: 100%;
  height: 220px;
  background: url(../_img/bg-footer.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}

.quebra .quote-externo {
  max-width: 400px;
}

/* footer */

.footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 20px 0;
}

.footer h3 {
  color: #fec63e;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
}

.footer h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 6px 0 12px 0;
  background: #fec63e;
}

.footer_historia {
  padding-right: 40px;
}

.footer_contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer_redes_sociais ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer_redes_sociais ul li:last-child {
  margin-right: 0;
}

.footer_redes_sociais ul li a {
  border: 3px solid #fec63e;
  display: block;
  padding: 10px;
}

.footer_redes_sociais ul li a:hover {
  border-color: #fff;
}

.copy {
  background: #fec63e;
  padding: 20px 0;
}

/* JavaScript */

/* Animação citação página portfolio */

.js [data-slide] {
  position: relative;
}

.js [data-slide]>* {
  position: absolute;
  top: 0;
  opacity: 0;
}

.js [data-slide]>.active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
}

/* Animação fotos página portfolio */

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  background: #1d1d1d;
}

.js [data-slide-nav] button.active {
  background: #fec63e;
}

/* Animação das páginas */

.js [data-anime] {
  opacity: 0;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: transform .8s, opacity .8s;
}

/* anti spam */

.nao-aparece {
  visibility: hidden;
  position: absolute;
  height: 0px;
}

/* Mensagem erro */
#form-sucesso {
  color: #31aa39;
}

#form-erro {
  color: #f64540;
}