/* Reset */
body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* Superinfo */
.superinfo-bg {
  background: #122ab2;
  color: #fff;
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1em;
}

.superinfo a,
.superinfo p {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: #fff;
}

/* Menu */
.menu-bg {
  background: #2c70ff;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
}

.menu-logo a {
  color: #fff;
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  display: block;
  color: #fff;
  font-size: 1.25em;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}

/* Introdução */
.introducao {
  font-size: 3em;
  line-height: 1em;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

/* Sobre */
.sobre {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
}

.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.sobre-info h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4em;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

/* Produtos */
.produtos {
  max-width: 960px;
  margin: 60px auto;
}
.produtos h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produtos-item {
  flex: 1 1 175px;
  margin: 10px;
}

.produtos-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.pink {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}

/* Preços */
.preco {
  background: #f7f7f7;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.preco-item {
  flex: 1 1 260px;
  border: 4px solid #fff;
  padding: 20px;
  margin: 10px;
}

.preco-item h2 {
  font-size: 3em;
  text-align: center;
  color: #a4a4a4;
  margin-top: 20px;
}

.preco-item span {
  display: block;
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  padding: 10px 0 5px 0;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.preco-item sup {
  font-size: 1.5rem;
}

.preco-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em;
  font-style: italic;
  color: #7c7c7c;
}

.preco-item li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.preco-item li::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #2c70ff;
}

.preco-item a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 4px solid;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 2.25em;
  padding: 15px 0;
}

@media (max-width: 800px) {
  .preco {
    padding-left: 10px;
    padding-right: 10px;
  }

  .preco .preco-item:nth-child(3) {
    order: -2;
  }

  .preco .preco-item:nth-child(2) {
    order: -1;
  }
}

/* Qualidade */
.qualidade {
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.qualidade-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.qualidade-item h2 {
  font-size: 2.25em;
  color: #a4a4a4;
  margin-bottom: 20px;
}

.qualidade-item h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 13px;
  background: tomato;
}

.qualidade-item:nth-of-type(3n + 1) h2::before {
  /* Seleciona 0 primeiro e o terceiro  */
  background: #ae81ff;
}

.qualidade-item:nth-of-type(3n + 2) h2::before {
  background: #f9265e;
}

.qualidade-item:nth-of-type(3n + 3) h2::before {
  background: #66d9eb;
}

.qualidade-item p {
  font-size: 1.25em;
  line-height: 1.4em;
  color: #7c7c7c;
}

/* Newsletter */
.newsletter {
  background: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2);
  display: flex;
  flex-wrap: wrap;
}

.newsletter-info {
  flex: 1 1 240px;
  margin: 0 10px;
}

.newsletter-info h1 {
  color: #a4a4a4;
  font-size: 3em;
}

.newsletter-info p {
  color: #7c7c7c;
  font-size: 1.25em;
  font-style: italic;
  max-width: 230px;
  margin-bottom: 10px;
}

.newsletter-form {
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-form input {
  flex: 3 1 260px;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-style: italic;
  color: #7c7c7c;
  border: 3px solid #2c70ff;
  background: transparent;
  padding: 15px 10px;
  margin: 0;
  border-radius: 0;
  outline: none;
}

.newsletter-form button {
  flex: 1 1 260px;
  background: #2c70ff;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 15px 10px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  outline: none;
}

@media (max-width: 600px) {
  .newsletter-form button {
    font-size: 1.5em;
  }
}

/* Footer */
.footer {
  display: flex;
  background: #2c70ff;
  height: 200px;
  align-items: center;
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 2.25em;
  color: #122ab2;
}
