/* Reset */
body,
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: Georgia, serif;
  color: #252525;
}

* {
  box-sizing: border-box;
}
/* Menu */
.menu {
  background: #252525;
  padding: 20px 0;
}

.menu-container {
  max-width: 960px; /* define responsivo */
  margin: 0 auto;
}

/* Clear-fix criado no pai */
.menu-container::after,
.menu-container::before {
  content: "";
  display: table;
  clear: both;
}

a.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}

.menu-nav {
  float: right;
  margin-right: 10px;
}

.menu-nav li {
  display: inline-block; /* quebar na horizontal */
}

.menu-nav a {
  display: block;
  padding: 10px; /* padding deve ser aplicado no 'a' */
  text-decoration: none;
  color: #fff;
  font-size: 1.125em;
}

/* Intro */
.intro {
  background: url("../_img/bg-intro.jpg") no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: #fff;
}

.intro h1 {
  text-transform: uppercase;
  font-size: 3em;
}

/* Separador  */
.intro h1::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  margin: 10px auto;
  background: #fff;
}

.intro p {
  font-style: italic;
  font-size: 1.125em;
}

/* Sobre */
.sobre {
  padding: 60px 0;
}

.sobre h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 60px;
}

.sobre-container {
  max-width: 960px; /* define responsivo */
  margin: 0 auto;
}

/* Clear-fix criado no pai */
.sobre-container::after,
.sobre-container::before {
  content: "";
  display: table;
  clear: both;
}

.sobre-item {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.sobre-item img {
  display: block;
  max-width: 100%;
}

.sobre-item h3 {
  font-size: 2.25em;
  line-height: 1em;
  background: #252525;
  width: 220px;
  color: #fff;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  padding: 5px 0 10px 0;
  top: -25px;
  position: relative;
}

.sobre > p {
  font-size: 1.125em;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
  margin: 20px auto;
  max-width: 460px;
}

/* Produtos */
.produtos {
  background: #e7e4d8;
  padding: 60px 0;
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
}

.produtos-container {
  max-width: 960px; /* define responsivo */
  margin: 0 auto;
}

/* Clear-fix criado no pai */
.produtos-container::after,
.produtos-container::before {
  content: "";
  display: table;
  clear: both;
}

.produtos-item {
  width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
}

.produtos-item h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 20px;
}

.produtos-item h2::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: currentColor; /* Define a cor do body */
  border-radius: 50%;
  border: 5px solid #e7e4d8;
  box-shadow: 0 0 0 10px currentColor;
  margin: 20px auto;
}
h2.produtos-paulista::before {
  color: #492901;
}

h2.produtos-carioca::before {
  color: #c17139;
}

h2.produtos-mineiro::before {
  color: #d7a54d;
}

.produtos-item p {
  font-size: 0.875em;
  line-height: 1.4em;
}

.produtos-btn {
  width: 180px;
  border: 3px solid;
  text-decoration: none;
  display: block;
  font-size: 1.125em;
  text-transform: uppercase;
  text-align: center;
  color: #252525;
  font-weight: bold;
  padding: 15px 0;
  margin: 20px auto 0 auto;
}

/* Locais */
.locais {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.locais-item {
  clear: both;
  margin: 60px auto;
}

.locais-item::before,
.locais-item::after {
  content: "";
  display: table;
  clear: both;
}

.locais-item img {
  width: 460px;
  display: block;
  float: left;
  margin: 0 10px;
}

.locais-item > div {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.locais-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
}

.locais-item p {
  font-size: 1.125em;
  line-height: 1.4em;
  max-width: 320px;
  margin-bottom: 40px;
}

.locais-item a {
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #252525;
  border: 3px solid;
  padding: 10px 20px;
}

/* Newsleter */
.newsletter {
  background: #e7e4d8;
  padding: 40px 0;
}

.newsletter-container {
  max-width: 960px;
  margin: 0 auto;
}

.newsletter-container::before,
.newsletter-container::after {
  content: "";
  display: table;
  clear: both;
}

.newsletter-info {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.newsletter-info h2 {
  font-size: 2.25em;
  font-weight: bold;
}

.newsletter-info p {
  font-size: 1.5em;
  font-style: italic;
}

.newsletter form {
  width: 460px;
  float: left;
  margin: 10px 10px 0 10px;
}

.newsletter form label {
  display: none;
}

.newsletter form input {
  width: 320px;
  border: 3px solid #252525;
  background: none;
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-style: italic;
  padding: 10px;
  float: left;
  outline: none;
}

.newsletter button {
  width: 140px;
  background: #252525;
  border: none;
  color: #fff;
  font-size: 1.5em;
  font-family: Georgia, serif;
  text-transform: uppercase;
  padding: 13px 0;
  cursor: pointer;
  outline: none;
}

/* Footer */
.rodape {
  background: #d6d3c8;
  padding: 40px 0;
}

.rodape-container {
  max-width: 960px;
  margin: 0 auto;
}

.rodape-container::before,
.rodape-container::after {
  content: "";
  display: table;
  clear: both;
}

.rodape p {
  float: left;
  margin: 0 10px;
  font-size: 1.125em;
  line-height: 1.4em;
}

.rodape img {
  display: block;
  float: right;
  margin: 0 10px;
}
