/* Reset */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background: #252b29;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
}

/* button */
.btn {
  display: inline-block;
  background: #16ddaa;
  color: #252a29;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.125em;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.btn:hover {
  background: #77ffdc;
}

/* Links */
.link {
  color: #bdffee;
}

.link:hover {
  color: #00c492;
  border-bottom: 1px solid #00c492;
}

.quote {
  font-size: 1.125em;
  line-height: 1.75em;
  text-align: center;
  font-style: italic;
  color: #7e8883;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 128px;
}

.quote cite {
  display: block;
  font-size: 1em;
  font-style: normal;
  color: #7e8883;
  text-align: right;
  padding-top: 16px;
}

.menu-section {
  margin-right: 10px;
}

.header-menu ul li a.menu-ativo {
  color: #16ddaa;
}

.header {
  padding: 40px 0;
}

.header-logo {
  flex: 1;
}

.header-menu {
  flex: 1;
}
.header ul {
  float: right;
}

.header-menu ul li {
  display: inline-block;
}

.header-menu ul li a {
  color: #7e8883;
  font-size: 1.125em;
  line-height: 1.5em;
  padding: 0 0 0 30px;
  transition-duration: 0.3s;
}

.header-menu ul li a:hover {
  color: #16ddaa;
}

.principal {
  padding: 88px 0 128px 0;
}

.texto {
  flex: 1;
}

.foto {
  flex: 1;
}

.texto p {
  font-size: 1.5em;
  line-height: 1em;
  color: #16ddaa;
  margin-bottom: 36px;
}

.texto h2 {
  font-size: 3.43em;
  line-height: 1.5em;
  font-weight: normal;
  font-style: italic;
  color: #7e8883;
  margin-bottom: 36px;
}

.foto-perfil img {
  margin: 0 auto;
  margin-right: 0;
}

/* Carrossel */
.carrossel-texto {
  margin: 0 auto;
}

.carrossel-texto h2 {
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
  color: #16ddaa;
  padding-bottom: 8px;
  margin: 0 0 128px 0;
  border-bottom: 1px solid #4d5553;
}

/* Footer */
.footer {
  padding: 128px 0 40px 0;
}

.footer ul {
  margin: 0 auto;
  text-align: center;
}

.footer ul li {
  display: inline-block;
}

.footer ul li a {
  font-size: 2em;
  color: #4d5553;
  padding: 10px;
}

.footer ul li a:hover {
  color: #16ddaa;
}

.copy {
  color: #7e8883;
  font-size: 0.875em;
  font-weight: 200;
  text-align: center;
  padding-top: 16px;
}

/* Sobre */
.sobre-conteudo {
  padding: 88px 0 64px 0;
}

.sobre-conteudo-2,
.sobre-conteudo-3 {
  padding-bottom: 128px;
}

.sobre-conteudo-4 {
  padding-bottom: 0;
}

.sobre-texto {
  flex-grow: 1;
}

.sobre-texto h2,
.sobre-texto-2 h2,
.sobre-texto-3 h2,
.sobre-texto-4 h2 {
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
  color: #16ddaa;
  padding-bottom: 8px;
  border-bottom: 1px solid #4d5553;
}

.sobre-texto p {
  font-size: 1.125em;
  line-height: 1.875em;
  color: #7e8883;
  padding: 16px 0 0 0;
}

.sobre-icone img,
.sobre-icone-2 img,
.sobre-icone-3 img,
.sobre-icone-4 img {
  margin: 0 0 0 auto;
}

.sobre-texto-2 ul,
.sobre-texto-3 ul,
.sobre-texto-4 ul {
  padding: 16px 0 36px 0;
}

.sobre-texto-2 ul li,
.sobre-texto-3 ul li,
.sobre-texto-4 ul li {
  font-size: 1.125em;
  line-height: 1.875em;
  color: #7e8883;
}

/* Projetos */
.projetos-conteudo {
  padding: 88px 0 128px 0;
}

.projetos-conteudo-2 {
  padding: 0 0 128px 0;
}

.projetos-conteudo-2 .projetos-img img {
  margin: 0 0 0 auto;
}

.projetos-texto {
  flex-grow: 1;
}

.projetos-texto h2 {
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
  color: #16ddaa;
  padding-bottom: 8px;
  border-bottom: 1px solid #4d5553;
}

.projetos-texto p {
  font-size: 1.125em;
  line-height: 1.875em;
  color: #7e8883;
  padding: 16px 0 16px 0;
}

/* Contato */
.contato {
  justify-content: space-between;
  padding-top: 88px;
}

.formulario input,
.formulario textarea {
  display: block;
  width: 100%;
  cursor: pointer;
}

.formulario label {
  display: block;
  font-size: 1.125em;
  font-style: italic;
  color: #16ddaa;
  padding-bottom: 8px;
}

.formulario input {
  background: none;
  border: none;
  outline-style: none;
  border: 1px solid #16ddaa;
  border-radius: 4px;
  padding: 5px 10px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.125em;
  font-style: italic;
  line-height: 1.5em;
  margin-bottom: 16px;
  color: #7e8883;
}

.formulario textarea {
  height: 120px;
  background: none;
  border: none;
  outline-style: none;
  border: 1px solid #16ddaa;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 1.125em;
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.5em;
  margin-bottom: 16px;
  color: #7e8883;
}

.endereco {
  display: block;
  font-size: 1.125em;
  font-style: italic;
  color: #7e8883;
  line-height: 2em;
}

/* Java DataSlide */
.js [data-slide] {
  position: relative;
}

.js [data-slide] > .carrossel-img {
  position: absolute;
  top: 0px;
  opacity: 0;
}

.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 16px;
}

/* Bolinhas */
.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  outline: none;
  padding: 0;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  background: #4d5553;
  cursor: pointer;
}

.js [data-slide-nav] button.active {
  background: #16ddaa;
}
/* Fim DataSlide */

/* DataAnime */
.js [data-anime] {
  opacity: 0;
}

/* animação desejada */
.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}
/* Fim DataAnime */

/* Media queryes */
@media screen and (max-width: 46.187em) {
  /* 739px */
  .header-logo {
    margin: 20px auto;
  }

  .header-menu {
    display: flex;
  }

  .menu-mobile {
    align-items: center;
    flex-direction: row;
  }

  .menu-section {
    margin-right: 0px;
  }

  /* Menu hamburger */
  nav.menu {
    display: none;
    /*aqui esconde o menu*/
  }

  /* Menu-toggle */
  .menu-toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;
  }

  .menu-toggle span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #16ddaa;
    transition: 0.4s ease-in-out;
  }

  .menu-toggle span:nth-child(1) {
    top: 0;
  }

  .menu-toggle span:nth-child(2) {
    top: 8px;
  }

  .menu-toggle span:nth-child(3) {
    top: 16px;
  }

  /*fullscreen*/
  .menu-section.on {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 35, 34, 0.95);
    z-index: 10;
  }

  .menu-section.on nav.menu {
    display: block;
    /*aqui aparece o menu*/
  }
  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 60px;
  }

  /* Animação */
  .menu-section.on .menu-toggle span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
  }
  .menu-section.on .menu-toggle span:nth-child(2) {
    opacity: 0;
  }
  .menu-section.on .menu-toggle span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
  }

  /* menu center */
  .menu-section.on nav.menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-section.on nav.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .menu-section.on nav.menu ul a {
    font-size: 2em;
    transition-duration: 0.3s;
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  /* Fim menu hamburger */

  .principal {
    padding: 0;
  }
  .texto h2 {
    font-size: 2.5em;
  }

  .texto p {
    margin-top: 36px;
  }
  .btn {
    display: block;
  }

  .foto {
    margin-top: 64px;
    order: -1;
  }

  .carrossel-texto h2 {
    margin: 64px 0 128px 0;
  }
  /* Sobre */
  .sobre-conteudo {
    padding: 88px 0 0 0;
  }

  .sobre-texto h2,
  .sobre-texto-2 h2,
  .sobre-texto-3 h2 {
    padding-top: 36px;
  }

  .sobre-texto p {
    padding: 16px 0 0 0;
  }

  .quote {
    width: 300px;
    padding: 128px 0;
  }

  .sobre-icone img,
  .sobre-icone-2 img,
  .sobre-icone-3 img,
  .sobre-icone-4 img {
    margin: 0 auto;
  }

  .sobre-icone,
  .sobre-icone-2,
  .sobre-icone-3,
  .sobre-icone-4 {
    order: -1;
  }

  .sobre-texto-2 ul,
  .sobre-texto-3 ul {
    padding: 16px 0 36px 0;
  }

  /* Projetos */
  .projetos-conteudo-2 {
    padding: 0 0 128px 0;
  }

  .projetos-conteudo-2 .projetos-img {
    order: -1;
  }

  .projetos-texto h2 {
    padding-top: 16px;
  }

  /* Contato */
  .endereco {
    margin-top: 64px;
    font-size: 1em;
  }
}
