body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #643d87 url(../_img/fundo.jpg) no-repeat top center;
}

#container {
	width: 400px;
	height: 300px;
	background-color: rgba(255,255,255, .3);
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 120px;
	text-align: center;
}

#container img {
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
}

input {
	height: 40px;
	width: 80%;
	font-size: 1.2em;
	margin-bottom: 10px;
	background-color: #fff;
	padding-left: 40px;
	border: none;
	background-repeat: no-repeat;
	background-position: 10px;
}

input.email {
	background-image: url(../_img/icone-usuario.png);
}

input.senha {
	background-image: url(../_img/icone-cadeado.png);
}

input.submit {
	 color: #fff;
	 background-color: #f79300;
	 border: 2px solid #db7300;
	 padding: 5px 20px;
	 width: 90%;
	 height: 45px;

	 background: linear-gradient(to bottom, #faa600, #f68a00);
}
