/* limpar formatações */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", "Helvetica", sans-serif;
    background-color: #e6e6e6;
}

/*
**** Layout ****
*/
#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

#area-logo, #area-menu {
    padding: 10px;
}

#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#area-postagens {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}

.postagem {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.conteudo-lateral {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.postagem-lateral p {
    font-size: .8em;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background-color: #cccccc;
}
/*
**** Formatação do menu ****
*/
a {
    text-decoration: none;
}

a:link, a:visited {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #ffffff;
    padding: 5px 12px;
}

#area-cabecalho a:hover {
    color: #f7b600;
    background-color: #ffffff;
    text-decoration: none;
}

/*
**** Formatação em geral ****
*/

h1 {
    color: #4e4e4e;
    font-size: 3.5em;
}

h2 {
    color: #f7b600;
}

h3 {
    color: #565656;
    background-color: #cccccc;
    padding: 5px;
}

.branco{
    color: white;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block; 
}




