body{
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* início menu */
.sacola{
    background-image: url("../img/sacola.png");
    background-repeat: no-repeat;
    background-position: top right;

    padding-top: 8px;
    position: absolute;
    top: 0;
    right: 0;

    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
}

.menu-opcoes ul{
    font-size: 15px;
}

.menu-opcoes a{
    color: #003366;
}


.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
}

.container{
    margin: 0 auto;
    width: 940px;
}

header{
    position: relative;
}

.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* fim menu */

/* início rodapé */

footer{
    background-image: url("../img/fundo-rodape.png");
    clear: both;
    padding: 20px 0;
}

.social a{
    /* tamanho da imagem */
    height: 32px;
    width: 32px;
    /* image replacement */
    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"]{
    background-image: url("../img/facebook.png");
}

.social a[href*="twitter.com"] {
    background-image: url("../img/twitter.png");
}

.social a[href*="plus.google.com"] {
    background-image: url("../img/googleplus.png");
}

footer .container{
    position: relative;
}

.social{
    position: absolute;
    top: 12px;
    right: 0;
}

.social li{
    float: left;
    margin-left: 25px;
}

/* fim rodapé */