* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fff url(../_img/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(../_img/detalhe-topo.png) no-repeat right top;
    padding-top: 25px; 
}

.logo {
    width: 152px;
    height: 66px ;
    background: url(../_img/logo.png) no-repeat center;
    text-indent: -3000px;
}

/* Barra navegação */

a:link, a:visited {
    color: #b10333;
    padding: 2px;
}

a:hover {
    color: #e50040;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
     background-color: #b10333;
     margin-top: 30px;
     float: left;
}

#topo ul li {
    /* display: inline; */
    float: left;   
}

#topo ul li a {
    font-size: 0.9em;
    display: block;
    padding: .5em 1.5em;
    color: white;
    line-height: 2.1em;
    text-decoration: none;
    background: url(../_img/divisor.png) no-repeat left;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
    color: #fff;
    background-color: #de003e;
    cursor: text;
}

#conteudo {
    background-color: #f5f5f5;
    margin-top: 60px;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#duas-colunas #primario {
    width: 555px;
}

#uma-coluna #primario {
    width: 750px;
    margin: 0 0 20px 0;
}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

.caixa {
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(../_img/fundo-caixa.png);
}

/* Rodapé */
#container-rodape {
    clear: both;
    background-color: #294c71;
    padding: 20px;
}

h2 {
    font-size: 1em;
    background-color: #294c71;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo {
    background-color: #fff;
    padding: 5px;
    margin-top: 5px;
}

/* Formatar menus laterais */
#lateral ul a {
    font-size: .9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: #f9f9f9 url(../_img/marcador.png) no-repeat left center;
    color: #a1a1a1;
    padding-left: 20px;
}

label {
    display: block;
    cursor: pointer;
}

input {
    font-size: .9em;
    padding: 5px;
    margin-bottom: 10px;
    width: 125px;
    background-color: #fff;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    cursor: pointer;
}

/* Formatando imagens */
img.img-principal {
    border: 3px solid #dfdfdf;
    width: 98%;
}

/* Formatando cabeçalhos */
h3 {
    text-transform: uppercase;
    display: inline;
    font-size: .8em;
    padding: 3px;
}

.destaque h3 {
    background-color: #b10333;
    color: #fff; 
}

.entrevista h3 {
    background-color: orange;
    color: #000000; 
}

/* Formatando Listas de notícias */
#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

#lista-noticias li a img {
    float: left;
    margin: 5px;
}

#lista-noticias li a {
    text-decoration: none;
}

#lista-noticias li a h3 {
    font-size: .8em;
    padding: 0;
    color: #3e7ab9;
}

#lista-noticias li a p {
    font-size: .7em;
    color: #000;
}

#lista-noticias li:hover {
    background-color: #eee;
    cursor: pointer;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}