body {
    font-family: sans-serif;
    background-color: cornflowerblue;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul a {
    background-color: bisque;
    padding: 10px;
    margin: 5px;
    display: block;
    color: black;
    text-decoration: none;
}
a:hover {
   background-color: burlywood;
}
#home #menu-navegacao .index a,
#sobre #menu-navegacao .sobre a,
#servicos #menu-navegacao .servicos a,
#noticias #menu-navegacao .noticias a,
#contato #menu-navegacao .contato a {
    background-color: burlywood;
}