body,
p,
h1,
ul,
li {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

body {
  font-family: Georgia, serif;
  color: #252525;
  background: #e7e4d8;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

/*Header*/
.header {
  display: flex;
  background: #d6d3c8;
  padding: 20px;
}

.header-logo {
  flex-grow: 1;
}

.header-menu ul {
  display: flex;
  flex-wrap: wrap;
}

.header-menu li a {
  color: #252525;
  font-size: 1.125em;
  padding: 0 10px;
}

.header-menu li:first-child a {
  padding-left: 0px;
}

@media (max-width: 739px) {
  .header {
    flex-direction: column;
  }
  .header-menu {
    margin-top: 10px;
  }
}

/*MAIN*/
.main-container {
  display: flex;
}

/*SIDE NAV*/
.side-nav {
  flex: 1;
  max-width: 300px;
  background: #252525;
  margin-right: 10px;
}

.side-nav li a {
  display: block;
  color: #fff;
  border-bottom: 2px solid #484846;
  font-size: 1.125em;
  padding: 20px;
}

.side-nav li a::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 5px;
  margin-right: 15px;
  position: relative;
  background-image: url("../img/icones.png");
}

.nav-contabilidade::before {
  background-position: 0 0;
}

.nav-produtos::before {
  background-position: 0 -24px;
}

.nav-paginas::before {
  background-position: 0 calc(-24px * 2);
}

.nav-plugins::before {
  background-position: 0 calc(-24px * 3);
}

.nav-formularios::before {
  background-position: 0 calc(-24px * 4);
}

.nav-hospedagens::before {
  background-position: 0 calc(-24px * 5);
}

@media (max-width: 739px) {
  .main-container {
    flex-direction: column;
  }
  .side-nav {
    margin: 10px;
    background: none;
    max-width: 100%;
  }
  .side-nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  .side-nav ul li {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .side-nav ul li a::before {
    top: 0;
    margin: 0;
  }
  .side-nav ul li a {
    width: 44px;
    height: 44px;
    overflow: hidden;
    border: none;
    padding: 10px;
    color: #252525;
    background: #252525;
    border-radius: 4px;
  }
}

/* Produtos */
.produtos {
  flex: 1;
  padding: 20px 10px;
}

.produtos header {
  display: flex;
}

.produtos h1 {
  flex-grow: 1;
  font-size: 2.25em;
  margin-right: 20px;
}

.adicionar-produtos {
  background: #c17139;
  color: #e7e4d8;
  font-size: 1.125em;
  font-family: Courier, monospace;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 4px;
  text-align: center;
}

.produtos-item {
  display: flex;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  margin-top: 20px;
  position: relative;
}

.produtos-item a {
  width: 24px;
  height: 24px;
  overflow: hidden;
  text-indent: -200px;
  position: absolute;
  right: 20px;
  top: 10px;
  background: url("../img/edit.svg") no-repeat;
}

.produtos-item a:hover {
  background: url("../img/edit-hover.svg") no-repeat;
}

.produtos-item img {
  align-self: flex-start;
}

.produtos-item ul {
  padding: 0 20px;
}

.produtos-item li {
  padding: 10px 0;
  font-size: 1.125em;
  font-family: Courier, monospace;
  border-bottom: 1px solid #e7e4d8;
}

.produtos-item li:last-child {
  border: none;
}

.produtos-item span {
  font-weight: bold;
  width: 70px;
  display: inline-block;
}

@media (max-width: 739px) {
  .produtos header {
    flex-direction: column;
  }
  .produtos-item {
    flex-direction: column;
  }
}

/*Footer*/
.footer {
  background: #d6d3c8;
  text-align: center;
  padding: 60px 0;
  font-size: 1.125em;
  line-height: 1.4em;
}
