body {
    font-family: IBM Plex Sans, arial, sans-serif;
    background-color: #ccc;
    margin: 0;
}

.hero {
    background-image: url(../_img/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent; /* cria uma linha ao topo para servir de guia para alinhamento do nav */
}

.hero-content {
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1 {
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px #333;
}

.hero-content p {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 20px;
    border-bottom: 2px solid white;
}

.hero nav ul {
    text-align: right;
    margin: 20px 40px 0 0;
}

.hero nav li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    border: 1px solid white;
}

.hero nav li a {
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.hero nav li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

main {
    width: 80%;
    margin: auto;
}

.content-section {
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
}

.card {
    width: 32%;
    float: left; /*display: inline-block;*/
    box-sizing: border-box; /* não altera o tamanho do elemento */
    box-shadow: 3px 3px 3px #adadad;
}

.card_01, .card_02 {
    margin-right: 2%;
}

.card img {
    width: 100%;
    display: block;
}

.card p {
    background-color: #7b7b7b;
    color: white;
    margin: 0;
    padding: 15px;
    text-transform: uppercase
}

.content-header {
    background-color: #e6e6e6;
    border-bottom: 2px solid #adadad;
    padding: 10px;
}

.content-header h2 {
    margin: 0;
}

.rodape{
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 14px;
    background-color: black;
    color: white;
}
 