body {
    width: 80%;
    margin: auto;
    font-family: IBM Plex Sans, helvetica, sans-serif;
    background-color: #e1e1e1;
}

h1 {
    color: #9c0101;
    background-color: #d28202;
    text-align: center;
    font-size: 35px;
    padding: 5px;
}

h2 {
    background-color: rgba(255, 0, 0, 0.3);
    border-bottom: 2px solid red;
    color: #9c0101;
    font-size: 22px;
    padding: 5px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-weight: 500;
}

p {
    font-weight: 400;
}

.data {
    font-weight: bold
}

ul {
    padding-left: 0;
}

li {
    padding-left: 0;
    list-style: inside; /* coloca o marcador dentro */
}

a {
    text-decoration: none;
    color: #0e4396:
}

a:hover {
    text-decoration: underline;
}