body {
    width: 75%;
    margin: auto;
    font-family: IBM Plex Sans, helvetica, sans-serif;
    background-color: #e1e1e1;
}

h1 {
    color: #d3d3d3;
    background-color: #535353;
    text-align: center;
    font-size: 35px;
    padding: 5px;
    border-radius: 8px;
    text-shadow: 2px 2px 1px #383838;
    box-shadow: 2px 2px 2px #717171;
}

h2 {
    background-color: #d3d3d3;
    border-bottom: 2px solid #535353;
    color: #535353;
    font-size: 22px;
    padding: 10px;
    box-shadow: 2px 2px 2px #717171;
}

h3 {
    font-size: 16px;
}

h4 {
    font-weight: 500;
}

p {
    font-weight: 400;
}

.data {
    font-weight: bold
}

ul {
    padding-left: 0;
}

li {
    padding-left: 0;
    list-style: inside; /* coloca o marcador dentro */
}

a {
    text-decoration: none;
    color: #0e4396:
}

a:hover {
    text-decoration: underline;
}