body {
    font-family: tahoma, arial, sans-serif;
    margin: 0;
    padding: 0;
}

#principal {
    width: 1024px;
    margin: 20px auto;
}

.header-topo {
    height: 50px;
    background-color: #162028;
    position: relative;
}

.logo-fashion {
    margin: 5px 0 0 135px;
}

.header-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.header-nav ul {
    margin: 0;
    padding: 0;
}

.header-nav li {
    list-style: none;
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 10px;
}

.header-nav a {
    color: #425564;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    transition: color .3s linear;
}

.header-nav a:hover {
    color: #627483;
}

.portfolio {
    padding: 50px 100px;
    text-align: center;
}

.portfolio h1 {
    font-size: 36px;
    color: #252525;
}

.portfolio p {
    font-size: 16px;
    line-height: 2; /* espaço entre linhas */
    color: #555555;
}

.galeria {
    color: #555555;
    padding: 0 100px 50px 100px;
    overflow: auto;
}

.galeria-card {
    width: 32%;
    float: left;
    text-align: center;
}

.galeria-titulo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 16px;
    font-weight: bold;
}

.about {
    background-color: #003d52;
    padding: 100px;
    color: white;
    background-image: url(../_img/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom ;
}

.about h2 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
}

.about p {
    line-height: 1.5;
    width: 70%;
}

.contato {
    margin: 50px 0;
}

.contato address {
    color: #143f52;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-size: 26px;
    font-weight: bold;
}

.mapa {
    width: 100%;
    height: 450px;
    margin-top: 15px;
}

/* rodapé */
.rodape{
    padding: 25px;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    background-color: #0b171f;
    color: #6f8597;
    letter-spacing: 5px; /* espaçamento entre letras */
}