
body {
    font-family: IBM Plex Sans, arial, sans-serif;
    width: 80%;
    margin: 0 auto;
}
.logo h1 {
    display: inline-block;
    margin-top: -45px;
    margin-left: 45px;
    float: left;
}
.menu {
    background-image: url(../_img/topo.jpg);
    background-position: left center;
    background-size: cover;
}
nav {
    height: 50px;
    background-color: #081a24;
    border-top: 1px solid transparent; /* cria uma linha ao topo para servir de guia para alinhamento do nav */
}
.menu nav ul {
    text-align: right;
    margin: 10px 45px 10px 0px;
    padding: 5px;
}
.menu nav li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}
.menu nav li a {
    display: block;
    text-decoration: none;
    color: #375466;
    text-transform: uppercase;
}
.menu nav li a:hover {
    color: #597688;
}
.sobre {
    text-align: center;
    margin-top: 80px;
}
.sobre h2 {
    font-size: 36px
}
.sobre p {
    font-size: 15px;
    font-weight: 200;
}
.about {
    background-image: url(../_img/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 500px;
    width: 100%;
    background-color: #013b53;
}
.about h2 {
    font-size: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 0;
    padding-left: 40px;
    
    color: #ffffff;
    font-weight: 500;
}
.about p {
    font-size: 16px;
    padding-top: 0;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    color: #ffffff;
    text-align: left;
    font-weight: 200;
}

/*---------------------------------------*/
.galeria {
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
}

.card {
    width: 32%;
    float: left; /*display: inline-block;*/
    box-sizing: border-box; /* não altera o tamanho do elemento */
}

.card_01, .card_02 {
    margin-right: 2%;
}

.card img {
    width: 100%;
    display: block;
}
.card h4 {
    margin: 0;
    padding: 5px;
    text-align: center;
}

.card p {
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
}
/*---------------------------------------*/


.contato {
    font-size: 20px;
    text-align: center;
    color: #013b53;
    text-transform: uppercase
}

.mapa {
    text-align: center;
    margin: 30px;
    
}
.rodape{
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 12px;
    background-color: #001018;
    color: #1d868a;
}