* {
    margin: 0;
    padding: 0px;
}

body {
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    background: #ffffff url(../_img/bg.png);
    margin : 15px;
}

#container {
    /* border: 1px solid red; */
    background: #ede9cc url(../_img/bg-container.png) top center repeat-y;
    margin: 0 auto;
    min-width: 750px;
    max-width: 1180px;
}

#topo {
    background-color: #dbcd87;
    height: 15.4em;
    min-height: 250px;
    position: relative;
}

#area-logo {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../_img/topo-imagem-principal.png) no-repeat;  
    width: 100%;
    height: 250px;
    z-index: 1;
}

.logo a {
     position: absolute;
     top: 15px;
     left: 15px;
     z-index: 3;
     background: url(../_img/logo.png) no-repeat;
     width: 151px;
     height: 66px;
     text-indent: -3000px;
}

#area-menu {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../_img/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    z-index: 2;
}

#conteudo-menu {
    margin: 0 15px 0 90px;
    padding-top: 15px;
}

#menu-locais {
    border-top: 1px solid #b5ab56;
    border-bottom: 1px solid #b5ab56;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: .7em;
    color: #8b8448;
}

#menu-locais .locais {
    float: left;
    line-height: 2.1em;
}

a {
    text-decoration: none;
}

a.reserva {
    text-transform: uppercase;
    background-color: #a29750;
    color: #fff5b0;
    padding: 5px 10px;
    float: right;
}
 
/* barra nav vertical */
ul {
    list-style: none;
}

#menu {
    margin-top: 15px;
}

ul#navegacao {
    float: left;
}

ul#navegacao a {
    text-transform: uppercase;
    font-size: .8em;
    padding: 5px;
    color: #6e672c;
    line-height: 30px;
}

ul#navegacao a:hover {
    background-color: #fdf6be;
}

.depoimento {
    width: 226px;
    height: 164px;
    float: right;
}

/* area conteúdos */

#area-principal {
    width: 50%;
    float: left;
    background: url(../_img/bg-area-principal.png) top left repeat-x;
    padding: 15px 0;
}

#area-lateral {
    width: 50%;
    float: right;
    background: url(../_img/bg-area-lateral.png) top left repeat-x;
    padding: 20px 0;
}

.conteudo {
    margin: 0 auto;
    width: 90%;
}

#rodape {
    clear: both;
    padding: 15px;
    background: #fff url(../_img/bg-rodape.png) top repeat-x;
    color: #7d7640;
}

#rodape span {
    display: block;
    line-height: 60px;
}

/* formatação textos */

h2 {
    color: #7d7640;
    font-size: 1.1em;
    padding: 5px 0;
}

p {
    font-size: 1em;
    margin-bottom: 10px;
}

#beneficios li {
    padding: 8px;
    border-bottom: 1px solid #f3efcb;
    height: 6em;
}

#beneficios li a img {
    float: left;
    margin-right: 8px;
}

#beneficios li a h3 {
    font-size: 1em;
    color: #615b2d;
    padding: 5px 0;
    background: url(../_img/ornamento.png) no-repeat center right;
}

#beneficios li a p {
    font-size: .8em;
    color: #000;
}

#beneficios li:hover {
    background-color: #f6f3d6;
    cursor: pointer;
}